.portfolio {
    padding: 40px 120px;
    font-size: 20px;
    background-color: #282C35;
    color: #fafafa;
    position: absolute;
    height: 100%;
    width: 100%;
    perspective: 800px;

    h1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
    }
    .big-title {
        font-size: 80px;
        color: rgba(20, 135, 245, 1);
        margin-top: 0;
        margin-bottom: 20px;
    }
    .card-center {
        text-align: center;
        padding: 0;
        margin: auto;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .explore {
        position: fixed;
        border-radius: 50%;
        background-color: red;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.7);
    }

    .card {
        box-sizing: border-box;
        flex: 1;

        width: 200px;
        height: 200px;
        margin: 10px;
        text-align: center;
        // background-color: #bdbdbd;
        color: #fafafa;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(-100px);
        transition: transform 0.4s ease-out;

        &:hover {
            transform: translateZ(-100px) rotateY(90deg);
            .card-cover {
                // transform: rotateY(90deg);
            }
            .card-reveal {
                // transform: rotateY(0deg);
            }
            .card-text {
                // color: rgb(24, 24, 28);
                // h1 {
                //     font-size: 55px;
                //     @media only screen and (max-width: 768px) {
                //         font-size: 42px;
                //     }
                // }
            }
        }

        .card-cover {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(141deg, #AB47BC 0%,  #26C6DA 90%);
            transform: rotateY(0deg) translateZ(100px);
        }

        .card-reveal {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotateY(-90deg) translateZ(100px);

            .card-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                filter: blur(0px);
                z-index: 1;
                transition: filter 0.2s ease 0.4s;
            }
            .card-text {
                position: absolute;
                display: block;
                width: 100%;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
                z-index: 2;

                h1 {
                    display: inline-block;
                    margin: auto;
                    font-size: 42px;
                    border: 0;
                    position: relative;
                    transition: all 0.4s ease-out;
                    @media only screen and (max-width: 768px) {
                        font-size: 36px;
                    }
                }
            }
        }
    }
}
